body {
    background-color: rgb(228, 228, 228);
    }

    .container {
        background-color: rgb(255, 255, 255);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 25%;
        height: auto;
        padding: 20px;
        display: flex; 
        justify-content: center; 
    }
    